<h1>THIS IS THE ADD A GAME PAGE</h1>


<form action="/add-game" method="POST">
  <div class="form-group">
    <label for="gameTitle">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Game Title" name="title">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Genre</label>
    <select class="form-control" id="exampleFormControlSelect1" name="genre">
      <option>Action/Adventure</option>
      <option>Platform Style</option>
      <option>FPS</option>
      <option>Shooter</option>
      <option>Racing</option>
      <option>Sports</option>
      <option>Arcade</option>
      <option>Puzzle</option>
      <option>Strategy</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Game Platforms</label>
    <select multiple class="form-control" id="exampleFormControlSelect2" name="platforms">
      <option>PlayStation 4</option>
      <option>PlayStation 3</option>
      <option>Nintendo Switch</option>
      <option>Nintendo Wii</option>
      <option>X Box One</option>
      <option>X Box 360</option>
      <option>Android</option>
      <option>iOS</option>
      <option>PC</option>
    </select>
  </div>
  {{!-- <div class="form-group">
    <label for="exampleFormControlTextarea1">Review</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div> --}}

  <div class="form-group row">
    <div class="col-sm-2">Online</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1" name="online">
        <label class="form-check-label" for="gridCheck1" aria-placeholder="No">
          Yes
        </label>
      </div>
    </div>
  </div>
 <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Multiplayer</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="multiplayer" id="gridRadios1" value="Sinlge Player">
          <label class="form-check-label" for="gridRadios1">
            Sinlge Player
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="multiplayer" id="gridRadios2" value="Multiplayer">
          <label class="form-check-label" for="gridRadios2">
            Multiplayer
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="multiplayer" id="gridRadios3" value="MMO">
          <label class="form-check-label" for="gridRadios3">
            MMO
          </label>
        </div>
      </div>
      <div style="padding-left: 25px">
        <label for="gameImage">Image</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Game Image" name="image" value="image">
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-10">
     <a href="/games"><button type="submit" class="btn btn-primary">Add Game</button></a>
    </div>
  </div>
</form>




