<h1>Enter VGR!!</h1>
<br><br>

<p>Welcome to Video Games Reviews where you can share your experieces from your favorite games and get feedback on games title you havent payed yet!

<a href="/signup">Join now</a> and start checking out what other gamers have to say!
</p>
