<div class='divHeight review-bg'>

<form action="/{{theGame._id}}/new-review" method="POST">
<div class="my-form-control">
    <label for="rating">Rating:</label>
    <input id="rating" type="number" name='rating' placeholder="#"> 
    <label for="exampleFormControlTextarea1">Review:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name ="comment"></textarea>
  <button type="submit">Add Review</button>
  </div>
</form>
</div>
