

{{#if user}}

<h1>WHAT!? ARENT YOU A MEMBER ALREADY??</h1>

{{else}}
<div class="divHeight">
<div class="signup-bg">

<form action="/signup" method="POST">
<h3>Personal Info</h3>
  <div>
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname">
  </div>

  <div>
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname">
  </div>

<h3>Login Credentials</h3>

  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
    {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br>
  <div>
   <a href='/login'><input type="submit" value="Sign Up"></a>
  </div>
</div>
</div>
</form>
  {{/if}}