

{{#if user}}

<h1>WHAT!? ARENT YOU A MEMBER ALREADY??</h1>

{{else}}
<div class="divHeight">
<div class="signup-bg">
<div class="signup-form">

<form action="/signup" method="POST">
<h3>Personal Info</h3>
  <div>
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname">
  </div>

  <div>
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname">
  </div>

<h3>Login Credentials</h3>

  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
    {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br>
  <div>
    <button type="submit" class="login-btn">Sign Up</button>
  </div>
</div>
<span>
<h4>Already have a member?</h4>
</span>
<span>
  <button class="login-btn">Then Login!</button>
</span>
</div>
</form>
</div>
  {{/if}}