body {
  padding-left: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.nav-fix{
  position: fixed;
  top: 0;
  color: blue;
  background-color: yellow;
}

a {
  color: #00B7FF;
}

*{
  padding: 0;
  margin: 0;
}
p{
  font-size: 22px;
}

img {
  width: 100px;
  height: 140px;
}
.carousel-height {
  height: 80%;
  width: 80%;
  padding-left: 255px;
}

.carousel-border{
  border-style: ridge;
}

.carousel-background {
  background-color: black;
  background-image: url('/images/digitaltrain1.gif');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}

.sect2 {
  background-color: darkgrey;
  overflow: hidden;
  background-image: url('/images/fortnitewallpaper.jpeg');
  height:50vh;
  color:white;
  text-decoration: underline;
  
}
.sect2-div {
  float: right;
  padding-right: 30px;
  text-align: center;
}

.sect3 {
  clear: both;
  background-color: grey;
  display:flex;
}

// .sect4{
//   display: flex;
// }

.sect4-div {
  text-align: center;
  background-image: url('/images/gamesCollabBg.jpeg');
  //background-position: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
}

.sect4 img{
  height: 170px;
  width: 190px;
}

.start-btn {
  height: 15vh;
  width: 23vw;
  border-color: transparent;
  border-radius: 0%;
}



.btn-sect {
  display: flex;
  justify-content: space-evenly;
}

.divHeight{
  height:100vh;
  width:100vw;

}
.divHeight2 {
  height: 50vh;
}

.grey-sect {
  background-color: #5e5252;
}

.signup-bg {
  background-image: url('/images/zelda-wallpaper.jpeg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.divHeight form {
  padding: 25px;
}
.login-bg {
  background-image: url('/images/megamanWallpaper.jpeg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.centering{
  align-items: center;
}
