body {
  padding-left: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.nav-fix{
  border-bottom: 5px solid black;
  top: 0;
  color: blue;
  background-color: yellow;
}

footer {
  color: blue;
  background-color: yellow;
  height: 5.5vh;
  border-top: 5px solid black;
}

.carousel-caption p {
  border-radius: 15px;
  height: 20vh;
  color: rgba(255, 255, 255, 0.911);
  background-color: rgba(48, 38, 38, 0.637);
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 185px;

}

.iconSize {

 padding-top:20px;
  font-size: 80px;
}

.navBorder {
  
  border-bottom-color: black;
  border-bottom-width: 5px;
}

.landing-top{
  background-color: peachpuff;
  text-align: center;
  padding-bottom: 10px;
}





a {
  color: #00B7FF;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Bree Serif', serif;
}
p{
  font-size: 22px;
}

img {
  width: 100px;
  height: 140px;
}
.carousel-height {
  height: 80%;
  width: 80%;
  padding-left: 255px;
}



.carousel-background {
  background-color: black;
  background-image: url('/images/digitaltrain1.gif');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}

.sect2 {
 
  overflow: hidden;
  background-image: url(/images/gameCharacters.png);
  height: 1%;
  background-repeat: no-repeat;
  
 }


.sect2-div {
  
  margin-top: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.sect2-div p {
  border-radius: 50%;
  height: 21vh;
  color: rgba(10, 10, 10, 0.79);
  background-color: rgba(239, 243, 10, 0.92);
  width: 74vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.sect3 {
  clear: both;
  
  display:flex;
}



.sect4-div {
  text-align: center;
  background-image: url('/images/gamesCollabBg.jpeg');
  //background-position: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
}

.sect4 img{
  height: 170px;
  width: 190px;
}

.start-btn {
  height: 15vh;
  width: 23vw;
  border-color: transparent;
  border-radius: 0%;
}



.btn-sect {
  display: flex;
  justify-content: space-evenly;
}

.divHeight{
  height:100vh;
  width:100vw;

}
.divHeight2 {
  height: 50vh;
}

.grey-sect {
//  background-color: #5e5252;
}

.signup-bg {
  background-image: url('/images/zelda-wallpaper.jpeg');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 250px;
  
}

.divHeight form {
  padding: 25px;
}
.login-bg {
  background-image: url('/images/megamanWallpaper.jpeg');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centering{
  align-items: center;
}


.login-form{
  background-color: rgba(255, 255, 255, 0.486);
  width:25vw;
  border-radius: 5%;
  border-style: double;
}

.signup-form{
  background-color: rgba(255, 255, 255, 0.486);
  width:25vw;
  border-radius: 5%;
  border-style: double;
}

.profile-page-bg {
  background-image: url('/images/new-challenger.jpeg');
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
  
}



.add-game-bg {
  background-image: url('/images/consoleSlideImg.webp');
  
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding: 200px 0px;
  padding-left: 60px;
}



.my-form-control {
  display: block;
  width: 25%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: rgba(255, 255, 255, 0.685);
  background-clip: padding-box;
  border: 1px solid #ffffff;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.my-form-control-list {
  display: block;
  width: 20%;
  height: 28vh;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: rgba(255, 255, 255, 0.685);
  background-clip: padding-box;
  border: 1px solid #ffffff;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.options-border {
  background-color: rgba(243, 224, 224, 0.582);
  height: 25vh;
  width: 30vw;
  border-radius: 10px;

}

.rightPad {
  padding-right: 43px;
}

.leftPad {
  padding-left: 43px;
}

.review-bg {
  background-image: url('/images/Solidsnake2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.details {
  display: flex;
  justify-content: center;
  align-content: center;
}


.details-bg{
  background-image: url('/images/wallpaper2you.jpeg');
  background-attachment: fixed;
  background-repeat:no-repeat ;
  background-size: cover;
  padding-bottom: 100px
  

}
.details-border {
  border: 5px solid black; height: auto;
  height: auto;
  width: auto;
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0.664);
}


.detailsPage{
  height: auto;
  width: 100%;
}
.review-header {
  text-align: center;
  text-decoration: underline;
 }

.comment {
  text-align: center;
  margin:10px 35px 10px 35px;
}
.comment-container {
  display: flex;
  flex-direction: column;

}

.autoHeight{
  height: auto;
  width: 100%;
}

.profilePage {
  color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-page-btn {
  background-color: yellow;
  color: skyblue;
  width: 138px;
  height: 86px;
  border-radius: 21px;
}


.edit-border {
  border: 5px solid black; height: auto;
  height: auto;
  width: 35%;
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0.664);
}

.editPage-bg {
  background-image: url('/images/wow.jpeg');
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.padding-bottom {
  padding-bottom: 230px
}

.gamesBorder {
    width: 21vw;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 25px;
}
.gamesList{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
//  background-color:rgba(255, 255, 255, 0.712);
}
.gamesBg {
  background-attachment: fixed;
  background-repeat:no-repeat ;
  background-size: cover;
  padding-bottom: 100px
}


.details-btn {
  height: 70px;
  width: 145px;
  background-color: yellow;
  color: skyblue;
  border-radius: 30px;
  margin: 10px;
}

.footer-icons {
  font-size: 40px;
  height: 60px;
  padding-left: 30px;
}