body {
  padding-left: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.nav-fix{
  
  top: 0;
  color: blue;
  background-color: yellow;
}

footer {
  color: blue;
  background-color: yellow;
  height: 5.5vh;
}

.carousel-caption p {
  border-radius: 15px;
  height: 20vh;
  color: rgba(255, 255, 255, 0.911);
  background-color: rgba(48, 38, 38, 0.637);
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 185px;

}

.iconSize {

 padding-top:20px;
  font-size: 80px;
}

.navBorder {
  
  border-bottom-color: black;
  border-bottom-width: 5px;
}

.landing-top{
  background-color: peachpuff;
  text-align: center;
  padding-bottom: 10px;
}





a {
  color: #00B7FF;
}

*{
  padding: 0;
  margin: 0;
}
p{
  font-size: 22px;
}

img {
  width: 100px;
  height: 140px;
}
.carousel-height {
  height: 80%;
  width: 80%;
  padding-left: 255px;
}



.carousel-background {
  background-color: black;
  background-image: url('/images/digitaltrain1.gif');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}

.sect2 {
 
  overflow: hidden;
  background-image: url(/images/gameCharacters.png);
  height: 1%;
  background-repeat: no-repeat;
  
 }


.sect2-div {
  
  margin-top: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.sect2-div p {
  border-radius: 15px;
  height: 20vh;
  color: rgba(255, 255, 255, 0.911);
  background-color: rgba(48, 38, 38, 0.637);
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.sect3 {
  clear: both;
  // background-color: grey;
  display:flex;
}

// .sect4{
//   display: flex;
// }

.sect4-div {
  text-align: center;
  background-image: url('/images/gamesCollabBg.jpeg');
  //background-position: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
}

.sect4 img{
  height: 170px;
  width: 190px;
}

.start-btn {
  height: 15vh;
  width: 23vw;
  border-color: transparent;
  border-radius: 0%;
}



.btn-sect {
  display: flex;
  justify-content: space-evenly;
}

.divHeight{
  height:100vh;
  width:100vw;

}
.divHeight2 {
  height: 50vh;
}

.grey-sect {
//  background-color: #5e5252;
}

.signup-bg {
  background-image: url('/images/zelda-wallpaper.jpeg');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 250px;
  
}

.divHeight form {
  padding: 25px;
}
.login-bg {
  background-image: url('/images/megamanWallpaper.jpeg');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centering{
  align-items: center;
}


.login-form{
  background-color: rgba(255, 255, 255, 0.486);
  width:25vw;
  border-radius: 5%;
  border-style: double;
}

.signup-form{
  background-color: rgba(255, 255, 255, 0.486);
  width:25vw;
  border-radius: 5%;
  border-style: double;
}

