body {
  padding-left: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

*{
  padding: 0;
  margin: 0;
}
p{
  font-size: 22px;
}

img {
  width: 100px;
  height: 140px;
}